
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nunito";
}

:root {
    --color1:#2a40be;
    --color1-hover: #1e2e88;
    

    --error: rgb(235, 113, 113);
    --error-hover: rgb(214, 94, 94);
    --warning: rgb(243, 149, 41);
    --success: rgb(68, 219, 80);

    --staff-color: #881ae2;
}